@font-face {
    font-family: 'Phenomena';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Phenomena-Bold.woff2') format('woff2'),
        url('../fonts/Phenomena-Bold.woff') format('woff'),
        url('../fonts/Phenomena-Bold.ttf') format('truetype'),
        url('../fonts/Phenomena-Bold.svg#Phenomena-Bold') format('svg');
}
