:root {
  --brand-primary: rgb(17,24,67);
  --brand-secondary: rgb(242,101,34);
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.teaser {
  display: flex;
  align-items: center;
  height: 90vh;
  min-height: 800px;
}

@media screen and (max-width: 768px) {
  .teaser {
    min-height: 600px;
  }
}

.teaser-container {
  max-width: 100%;
}

.teaser-container .section-heading {
  padding-bottom: 30px !important;
}

.teaser-icon {
  font-size: 70px !important;
  color: #daba71 !important;
}

.teaser-timer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto 15px;
  font-size: 140px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .teaser-timer {
    font-size: 60px;
  }
}

.teaser-timer__countdown_day,
.teaser-timer__countdown_hour,
.teaser-timer__countdown_min,
.teaser-timer__countdown_sec {
  position: relative;
  letter-spacing: 4px;
}

.teaser-timer__countdown_day::after,
.teaser-timer__countdown_hour::after,
.teaser-timer__countdown_min::after {
  position: relative;
  top: -10px;
  content: ':';
}

.teaser-text {
  position: relative;
  margin-top: 60px;
  opacity: .5;
}

.teaser-text::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
  background: url('../images/circle.svg') no-repeat;
  background-size: contain;
  content: '';
}

.teaser-text::after {
  position: absolute;
  bottom: -45px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -30px;
  color: #fff;
  background: url('../images/ghost.svg') no-repeat;
  background-size: contain;
  content: '';
}

#fh5co-home .gradient {
  background-color: rgb(17,24,67);
  background-image: linear-gradient(to right, var(--brand-primary) 0%, var(--brand-secondary) 100%);
}

#fh5co-home, #fh5co-home .text-wrap {
  height: auto;
  padding-top: 70px;
}

#fh5co-intro {
  margin-top: -100px;
}

#fh5co-intro .fh5co-block-wrapper {
  margin: 0 auto;
}

#fh5co-intro .fh5co-block {
  width: 100%;
  min-height: 100px;
}

/* Main Page */

#fh5co-header {
  margin-top: 0px;
  background: var(--brand-primary) !important;
  border-bottom: 2px solid var(--brand-secondary);
  box-shadow: 0 2px 8px 0 rgba(242,101,34, 0.3);
}

#fh5co-header #navbar li a {
  color: var(--brand-secondary) !important;
}

#fh5co-header #navbar li.active a {
  color: #fff !important;
}

#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  background-color: #fff !important;
}

.navbar-brand {
  height: 110px;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    height: 80px;
    padding: 5px 30px;
  }
}

@media screen and (min-width: 768px) {
  #navbar {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    height: 110px !important;
  }
}

#navbar::before,
#navbar::after {
  display: none;
}

.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
  background: var(--brand-secondary) !important;
}

.fh5co-nav-toggle i {
  color: var(--brand-secondary);
  background: var(--brand-secondary);
}

.banner {
  position: relative;
  padding: 150px 0 100px;
  overflow: hidden;
  text-align: center;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
}

.banner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/bg-2.png') no-repeat;
  background-position: center 40%;
  background-size: cover;
  content: '';
  opacity: .3;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-name: flash;
  animation-fill-mode: both;
}

.banner::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  display: none;
  width: 101%;
  height: 70px;
  padding: 0;
  margin-bottom: -35px;
  background: url('../images/bg-3.jpg') no-repeat;
  background-position: center top;
  content: '';
  opacity: .4;
  transform: rotate(-1.7deg);
}

.banner img {
  position: relative;
  z-index: 10;
  width: 65%;
  max-width: 700px;
}

.banner img:hover {
  cursor: zoom-in;
}

.section-heading {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.section-heading h2:after {
  height: 4px;
  background: var(--brand-secondary);
}

#fh5co-about {
  position: relative;
}

#fh5co-about::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/bg-3.jpg') no-repeat;
  background-size: cover;
  content: '';
  opacity: .5;
}

/*  Footer */
#footer .gotop {
  color: var(--brand-secondary);
}

.social.social-circle a {
  color: #fff;
  background: var(--brand-primary);
}

.social.social-circle a:hover {
  background: var(--brand-secondary) !important;
}
